footer{
  text-align: center;

  display: block;
  justify-self: end;
  height: 100vh;

  color: $color__light;
  background-color: $color__darker;

  img {
    width: 10%;
  }

  #contact {
    padding-left: 20px;
    ul {
      text-align: left;
      list-style-type: none;
    }
    h3 {
      padding: 20px 0;
    }
    h4 {
      text-align: left;
    }
  }
  #social {
    padding-top: 10px;
    img {
      color: $color__light;
      width: 64px;
      height: 64px;
      padding: 20px;
      padding-right: 3em;
      filter: invert(100%);

      &:hover {
        filter: saturate(50%);
      }
    }
  }
  .copyright {
    padding-top: 40px;
  }
  .vakhid {
    padding-top: 60px;
    a {
      color: $color__green;
      text-decoration: underline;
      &:visited {
        color: $color__green;
      }
      &:hover {
        color: $color__dark;
      }
    }
  }
}

@media screen and (min-width: 920px) {
  footer {
    display: grid;
    height: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 1%;

    #contact {
      display: inline;
      grid-column: span 6;
      grid-row: 1;
      text-align: left;
    }
    #socials {
      display: inline;
      grid-column: span 6;
      grid-row: 1;
      text-align: right;
    }
    .copyright {
      grid-column: span 12;
      grid-row: 2;
    }
    .vakhid {
      grid-column: span 12;
      grid-row: 3;
    }
  }
}
