#offer {
  background-color: $color__dark;
  height: 100vh;
  color: $color__light;
  .heading {
    padding: 20px 0;
  }
  img {
    margin: 30px 0;
    background-color: $color__light;
    border-radius: 30%;
    padding: 50px 40px;
    width: 60%;
    height: auto;
  }
  .lead {
    margin: 30px auto;
    width: 300px;
    height: auto;
  }
}

@media screen and (min-width: 920px) {
  #offer {
    display: grid;
    height: 100vh;
    padding-left: 25%;

    .heading {
      display: block;
      grid-column: span 12;
      padding: 0;
    }

    img {
      height: auto;
      width: 600px;
      grid-column: span 6;
    }

    .lead {
      padding: 30px 0 0;
      grid-column: span 6;
    }
  }
}
