#offer {
  background-color: $color__dark;
  height: 100vh;
  color: $color__light;
  .heading {
    padding: 20px 0;
  }
  img {
    margin: 30px 0;
    background-color: $color__light;
    border-radius: 30%;
    padding: 50px 40px;
    width: 60%;
    height: auto;
  }
  .lead {
    margin: 30px auto;
    width: 300px;
    height: auto;
  }
}
