#welcome {
  display: flex;
  flex-direction: column;
  height: 100%;

  button {
    margin: 10px auto;
  }
  img.arrow {
    margin: 0;
    padding: 0;
    width: 5%;
    height: auto;
  }
  img.welcome-img {
    margin: 30px 0;
    height: 300px;
    width: auto;
  }
  p {
    margin: 20px auto 0;
    width: 317px;
    height: auto;
  }
  a {
    margin: 10px auto 0;
  }

}

@media screen and (min-width: 920px){
  #welcome {
    display: grid;
    button {
      display: none;
    }
    img.welcome-img {
      height: 600px;
      width: auto;
      grid-column: 7/12;
      grid-row: 1;
    }
    .lead {
      grid-column: 2/7;
      grid-row: 1;
      align-self: center;
    }
    .next-section-btn {
      grid-column: span 12;
      grid-row: 2;
    }
  }
}
