#who {
  background-color: $color__darker;
  height: 100vh;
  color: $color__light;

  img {
    margin: 50px 0;
    background-color: $color__light;
    border-radius: 30%;
    padding: 50px 40px;
    width: 60%;
    height: auto;
  }
  .lead {
    margin: 40px auto 30px;
    width: 60%;
    height: auto;
    font-size: 2rem;
  }
}
#who-2 {
  height: 100vh;

  img {
    margin: 30px 0;
    width: 80%;
    height: auto;
  }
  .lead {
    margin: 50px auto 30px;
    width: 300px;
    height: auto;
  }
}

@media screen and (min-width: 920px){
  #who {
    display: grid;
    padding-left: 25%;
    padding-bottom: 20px;

    button {
      display: none;
    }
    .heading {
      display: block;
      grid-column: span 12;
      padding: 0;
    }
    img {
      height: auto;
      width: 600px;
      grid-column: span 6;
    }
    .lead {
      padding: 0;
      grid-column: span 6;
    }
  }

  #who-2 {
    display: grid;
    height: 100vh;
    padding-left: 25%;

    .heading {
      display: block;
      grid-column: span 12;
      padding: 0;
    }
    img {
      height: auto;
      width: 600px;
      grid-column: span 6;
    }
    .lead {
      padding: 0;
      grid-column: span 6;
    }
  }
}
