#who {
  background-color: $color__darker;
  height: 100vh;
  color: $color__light;

  img {
    margin: 50px 0;
    background-color: $color__light;
    border-radius: 30%;
    padding: 50px 40px;
    width: 60%;
    height: auto;
  }
  .lead {
    margin: 70px auto 30px;
    width: 60%;
    height: auto;
    font-size: 2rem;
  }
}
#who-2 {
  height: 100vh;

  img {
    margin: 30px 0;
    width: 80%;
    height: auto;
  }
  .lead {
    margin: 50px auto 30px;
    width: 300px;
    height: auto;
  }
}
