.post {
  margin: 20px auto;
  padding: 20px 10px;
  background-color: $color__light;
  width: 60%;
  height: 80%;

  img {
    width: 90%;
    height: auto;
    background-color: $color__dark;
  }
  h3 {
    padding: 10px 0;
    color: $color__dark;
  }
  p {
    padding: 5px 0;
    color: black;
  }
}
